/*
The following is the default settings for the right side of the banner, if you do not want one of the banner items to
appear, simply remove the code below from the class and replace it with  display: none;  as indicated below.

default settings   {	text-align: right;	margin: 0px;	padding:0px;	height: 60px;	line-height: 150%; }
remove banner Item {	display: none; }
*/

.bannerRightGridLanguage
{	
	display: none;
}
