<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<div>
		<ui:insert name="head">
			<ui:include src="../../Component/Common/Head.xhtml" flush="false" />
		</ui:insert>
		<title id="theTitle"><ice:outputText id="title"
				value="#{msgs.ui_application_name}" nospan="true" /></title>
	</div>
</h:head>

<h:body id="subrogationPage">

	<!-- Standard Bannner (logo, standard links-->
	<div>
		<ui:insert name="banner">
			<ui:include src="../../Component/Common/Banner.xhtml" flush="false" />
		</ui:insert>
	</div>

	<!-- Application Menu -->
	<div>
		<ui:insert name="menu">
			<ui:include src="../../Component/Subrogation/Menu/menu.xhtml"
				flush="false" />
		</ui:insert>
	</div>

	<ice:panelGrid border="0">
		<ice:graphicImage
			value="../../../theme/css-images/transparent_spacer.gif" height="10" />
	</ice:panelGrid>

	<blockquote>
		<ui:insert name="content" />
	</blockquote>

	<ice:form id="popupForm">
		<ice:panelPopup draggable="true" id="popupWindow"
			visible="#{baseBean.popUpBean.render}" modal="true" autoCentre="true">
			<f:facet name="header">
				<ice:panelGrid
					columnClasses="#{baseBean.popUpBean.imageStyle},icePnlGrdCol2Right">
					<ice:outputText value="#{baseBean.popUpBean.messageHeader}" />
				</ice:panelGrid>
			</f:facet>
			<f:facet name="body">
				<ice:outputText>
					<ice:messages id="messages" globalOnly="false" />
					<ice:panelGrid>
						<ice:commandButton id="okButton" styleClass="submitButtonOK"
							value="#{msgs.ui_action_ok}" immediate="true"
							onmouseover="javascript:this.className='submitButtonOver';"
							onmouseout="javascript:this.className='submitButton';"
							action="#{baseBean.popUpBean.togglePopup}" />
					</ice:panelGrid>
				</ice:outputText>
			</f:facet>
		</ice:panelPopup>
	</ice:form>

	<!-- Display copyright -->
	<blockquote>
		<ui:insert name="copyright">
			<ui:include src="../../Component/Common/copyright.xhtml"
				flush="false" />
		</ui:insert>
	</blockquote>
</h:body>
</html>
