<ui:composition id="bannerPage" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<ice:form id="BannerForm">
		<!-- Used for locale changes -->
		<ice:inputHidden id="newLocale" value="#{env.newLocaleCode}" />

		<ice:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0"
			styleClass="banner"
			columnClasses="bannerLeftColumn, bannerRightColumn">
			<ice:outputLink onclick="javascript:BrandLogoURL();" value="#"
				rendered="#{overrides.logoHyperlinkAvailable}">
				<ice:graphicImage styleClass="bannerLeftGrid"
					value="/Resource/Brand/#{env.brand}/Image/logo_en.gif" />
			</ice:outputLink>

			<ice:panelGrid columns="6" border="0" cellspacing="0" cellpadding="0"
				columnClasses="icePnlGrdCol, bannerRightGridHome, bannerRightGridEmail, 
                                     bannerRightGridLogout, bannerRightGridLanguage, bannerRightGridHelp">

				<!--  spacing -->
				<!-- extends the banner image without interfering with banner layout -->
				<ice:panelGrid id="spacingGrid1" border="0">
					<ice:graphicImage value="/theme/css-images/transparent_spacer.gif"
						height="10" width="120"></ice:graphicImage>
				</ice:panelGrid>

				<ice:panelGroup>
					<!--the separator is not rendered but must be there in order to align the first link in the banner -->
					<ice:outputText value="|" styleClass="bannerRightGridSeparator" />
					<ice:commandLink styleClass="bannerLink"
						onclick="javascript:BrandHome_${localeManager.locale}();">
						<ice:outputText value="#{commonProps.home_label}" />
					</ice:commandLink>
				</ice:panelGroup>

				<ice:panelGroup>
					<ice:outputText value="|" styleClass="bannerRightGridEmailSep" />
					<ice:outputLink styleClass="bannerLink"
						onclick="javascript:BrandEmail();" value="#">
						<ice:outputText value="#{commonProps.email_label}" />
					</ice:outputLink>
				</ice:panelGroup>

				<ice:panelGroup>
					<ice:outputText value="|" styleClass="bannerRightGridLogoutSep" />
					<ice:outputLink styleClass="bannerLink"
						onclick="javascript:BrandLogout();" value="#">
						<ice:outputText value="#{commonProps.logout_label}" />
					</ice:outputLink>
				</ice:panelGroup>
				
				
				<ice:panelGroup>
					<ice:outputText value="|"
						styleClass="bannerRightGridLanguageInnerTable" />
					<ice:commandLink id="localeLink" styleClass="bannerLink"
					    style="text-transform: uppercase; font-size: 70%;"
						action="#{localeSubManager.changeLocale}">
						<ice:outputText value="#{localeSubManager.changelocalDisplayLanguage}" />
					</ice:commandLink>
				</ice:panelGroup>


				<ice:panelGroup>
					<ice:outputText value="|" styleClass="bannerRightGridHelpSep" />
					<ice:outputLink
						value="#{localeManager.locale.language == 'en' ? '../../../Resource/docs/Subrogation_User_Guide_EN.doc' : '../../../Resource/docs/Subrogation_User_Guide_FR.doc'}"
						target="_blank" styleClass="bannerLink">
						<ice:outputText value="#{commonProps.help_label}" />
					</ice:outputLink>
				</ice:panelGroup>

			</ice:panelGrid>
		</ice:panelGrid>
	</ice:form>
</ui:composition>
