<ui:composition id="headPage"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fmt="http://java.sun.com/jstl/fmt"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html">


	<!-- Load standard property bundle -->
	<fmt:setBundle
		basename="ca.bluecode.ui.component.environment.Environment"
		var="envProps" />

	<!-- Standard JavaScript files -->
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/Brand/default/JavaScript/BrandScripts.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/Brand/default/JavaScript/BrandScripts_en.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/Brand/${env.brand}/JavaScript/BrandScripts.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/Brand/${env.brand}/JavaScript/BrandScripts_en.js"></script>

	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/MessagesWindow/FadeElement.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/MessagesWindow/MessagesWindow_en.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/MessagesWindow/MessagesWindow.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/MessagesWindow/x_core.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/MessagesWindow/x_drag.js"></script>
	<script language="JavaScript" type="text/javascript"
		src="../../../Resource/MessagesWindow/x_event.js"></script>

	<!-- Try to turn off page caching -->
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

	<ice:outputStyle href="/theme/rime.css" />
	<ice:outputStyle href="/Resource/Brand/default/CSS/styles.css" />

	<ice:inputHidden id="applicationName"
		value="#{applicationVersion.applicationName}" />
	<ice:inputHidden id="BuildSnapshot"
		value="#{applicationVersion.version}" />
	<ice:inputHidden id="timestamp"
		value="#{applicationVersion.timestamp}" />

</ui:composition>
