<ui:composition id="subrogationMaintPage"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="../../../Layout/Common/Layout.xhtml">

	<ui:define name="content">
	
	User in role<br />
										<h:outputText value="#{request.isUserInRole('SubrogationAdminRole')? 'yes' : 'no'}" />
	
		<ice:panelGrid styleClass="panelGridWidth">
			<ice:panelGroup id="effectHighlight"
				effect="#{effectsModel.effects[effectsModel.highlight].effect}">
				<ice:panelGrid id="pageTitle" columns="2" columnClasses="pageTitle">
					<ice:outputText styleClass="pageTitleTxt"
						rendered="#{subrogationModel.whatOperation eq subrogationModel.maint}"
						immediate="true" value="#{msgs.ui_application_maint}" />

					<ice:outputText styleClass="pageTitleTxt"
						rendered="#{subrogationModel.whatOperation eq subrogationModel.addNew}"
						immediate="true" value="#{msgs.ui_application_add_new}" />
				</ice:panelGrid>
			</ice:panelGroup>
		</ice:panelGrid>

		<!--  spacing -->
		<ice:panelGrid id="spacingGrid1">
			<ice:graphicImage
				value="../../../theme/css-images/transparent_spacer.gif" height="10" />
		</ice:panelGrid>

		<ice:form styleClass="form" id="subrogationForm">
			<ice:panelGrid styleClass="resultTable" headerClass="formHeader">
				<ice:panelGroup id="wholePanelEffect"
					effect="#{effectsModel.wholePanelFadeAndAppearWrapper.effect}">
					<ice:panelGrid columns="2">
						<ice:graphicImage value="/theme/css-images/operation.png"></ice:graphicImage>

						<ice:outputText
							value="#{msgs.ui_label_subrogation_main_page_choose_your_operation}"
							styleClass="tableTitleText" />
					</ice:panelGrid>

					<ice:panelGrid styleClass="resultTable4">
						<ice:selectOneMenu id="subrogationFormSelectSubscriberOperation"
							value="#{subrogationModel.selectedOperationValue}"
							immediate="true" partialSubmit="true"
							valueChangeListener="#{subrogationController.operationValueChangeListener}">

							<f:selectItems
								value="#{subrogationModel.selectedOperation[localeManager.locale.language]}" />
						</ice:selectOneMenu>
					</ice:panelGrid>

					<ice:panelGrid id="subrogatonFileGrid" columns="5" cellspacing="5">
						<ice:outputText
							value="#{msgs.ui_label_subrogation_main_page_file_number}"
							styleClass="outputText" />

						<ice:panelGroup id="newIconEffect"
							effect="#{effectsModel.newIconAppearWrapper.effect}">
							<ice:panelGroup id="newIconEffect2"
								effect="#{effectsModel.newIconFadeWrapper.effect}"
								style="#{subrogationModel.newIconStyle}">

								<ice:graphicImage value="/theme/css-images/new_icon.gif"></ice:graphicImage>
							</ice:panelGroup>

							<ice:inputText id="subrogationFileNumber"
								value="#{subrogationModel.whichSubscriber.id}" disabled="true"
								styleClass="inputText">
							</ice:inputText>
						</ice:panelGroup>

						<ice:panelGrid columns="2">
							<ice:outputText
								value="#{msgs.ui_label_subrogation_main_page_date_file_opened}"
								styleClass="outputText" />
							<ice:panelGroup id="fileOpenErrorMessagePG"
								effect="#{effectsModel.fileOpenErrorEW.effect}">
								<ice:message id="fileOpenErrorMessage"
									for="subrogationFileOpenDate" />
							</ice:panelGroup>
						</ice:panelGrid>

						<ice:selectInputDate id="subrogationFileOpenDate"
							value="#{subrogationModel.whichSubscriber.dateFileOpened}"
							styleClass="inputTextAlign" renderMonthAsDropdown="true"
							renderYearAsDropdown="true" renderWeekNumbers="false"
							rendered="true" renderAsPopup="true" immediate="true"
							partialSubmit="false"
							valueChangeListener="#{subrogationController.fileOpenDateChangeListener}">

							<f:convertDateTime pattern="yyyy/MM/dd"
								timeZone="#{subrogationModel.timeZone}" />
						</ice:selectInputDate>

						<!-- File closed indicator for JUWA-542 -->
						<ice:outputText
							value="#{msgs.ui_label_subrogation_main_page_date_file_Closed_indicator}"
							styleClass="outputText10" partialSubmit="false" immediate="true"
							rendered="#{subrogationModel.whichSubscriber.dateFileClosed}" />
					</ice:panelGrid>

					<!--Subscriber Information panel  -->
					<ice:panelGrid styleClass="resultTable5">
						<ice:panelGrid columns="2">
							<!-- Empty Space -->
							<ice:graphicImage value="/theme/css-images/info.png"></ice:graphicImage>

							<ice:outputText
								value="#{msgs.ui_label_subrogation_main_page_subscriber_info}"
								styleClass="tableTitleText" />
						</ice:panelGrid>

						<ice:panelGrid id="subrogatonSubscriberInformationGrid"
							styleClass="resultTable5" columns="6" cellspacing="4">

							<!-- Group ID -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_group_id}"
									styleClass="outputText" />
								<ice:message style="color: red;" id="groupIdError"
									for="subrogationMainPageGroupId" showDetail="false"
									showSummary="true" />
							</ice:panelGrid>


							<ice:inputText id="subrogationMainPageGroupId"
								value="#{subrogationModel.whichSubscriber.groupID}"
								immediate="true" styleClass="inputTextAlign"
								partialSubmit="false">
								<f:validateLength minimum="5" maximum="5" />
							</ice:inputText>

							<!-- Section -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_section}"
									styleClass="outputText5" />
								<ice:message style="color: red; margin-left: 25px;"
									id="sectionError" for="subrogationMainPageSection"
									showDetail="true" showSummary="false" />
							</ice:panelGrid>

							<ice:inputText id="subrogationMainPageSection"
								value="#{subrogationModel.whichSubscriber.section}"
								immediate="true" styleClass="inputTextAlign"
								partialSubmit="false">
								<f:validateLength minimum="3" maximum="3" />
							</ice:inputText>

							<!-- Series -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_series}"
									styleClass="outputText5" />
								<ice:message style="color: red; margin-left: 25px;"
									id="seriesError" for="subrogationMainPageSeries"
									showDetail="true" showSummary="false" />
							</ice:panelGrid>

							<ice:inputText id="subrogationMainPageSeries"
								value="#{subrogationModel.whichSubscriber.series}"
								immediate="true" styleClass="inputTextAlign"
								partialSubmit="false">
								<f:validateLength minimum="1" maximum="255" />
							</ice:inputText>

							<!-- Province -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_province}"
									styleClass="outputText" />
								<ice:message style="color: red;" id="provinceError"
									for="subrogationMainPageProvince" showDetail="true"
									showSummary="false" />
							</ice:panelGrid>

							<ice:inputText id="subrogationMainPageProvince"
								value="#{subrogationModel.whichSubscriber.province}"
								immediate="true" styleClass="inputTextAlign"
								partialSubmit="false">
								<f:validateLength minimum="2" maximum="2" />
							</ice:inputText>

							<!-- First Name -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_first_name}"
									styleClass="outputText5" />
								<ice:message style="color: red;  margin-left: 25px;"
									id="firstNameError" for="subrogationMainPageFirstName"
									showDetail="true" showSummary="false" />
							</ice:panelGrid>

							<ice:inputText id="subrogationMainPageFirstName"
								value="#{subrogationModel.whichSubscriber.firstName}"
								immediate="true" styleClass="inputTextAlign"
								partialSubmit="false">
								<f:validateLength minimum="1" maximum="255" />
							</ice:inputText>

							<!-- Last Name -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_last_name}"
									styleClass="outputText5" />
								<ice:message style="color: red; margin-left: 25px;"
									id="lastNameError" for="subrogationMainPageLastName"
									showDetail="true" showSummary="false" />
							</ice:panelGrid>

							<ice:inputText id="subrogationMainPageLastName"
								value="#{subrogationModel.whichSubscriber.lastName}"
								immediate="true" styleClass="inputTextAlign"
								partialSubmit="false">
								<f:validateLength minimum="1" maximum="255" />
							</ice:inputText>

							<!-- Birth Date -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_birth_date}"
									styleClass="outputText9" />
								<ice:panelGroup id="birthDateErrorPanel"
									effect="#{effectsModel.birthDateErrorEW.effect}">
									<ice:message id="birthDateError"
										for="subrogationMainPageBirthDate" />
								</ice:panelGroup>
							</ice:panelGrid>

							<ice:selectInputDate id="subrogationMainPageBirthDate"
								value="#{subrogationModel.whichSubscriber.birthDate}"
								style="position: relative; left: 20px;"
								renderMonthAsDropdown="true" renderYearAsDropdown="true"
								renderWeekNumbers="false" rendered="true" renderAsPopup="true"
								disabled="false" immediate="true" partialSubmit="false"
								valueChangeListener="#{subrogationController.birthDateChangeListener}">
								<f:convertDateTime pattern="yyyy/MM/dd"
									timeZone="#{subrogationModel.timeZone}" />
							</ice:selectInputDate>

							<!-- Sub ID -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_sub_id}"
									styleClass="outputText5" />
								<ice:message style="color: red;  margin-left: 25px;"
									id="subIdError" for="subrogationMainPageSubId"
									showDetail="true" showSummary="false" />
							</ice:panelGrid>

							<ice:inputText id="subrogationMainPageSubId"
								value="#{subrogationModel.whichSubscriber.subID}"
								immediate="true" styleClass="inputTextAlign"
								partialSubmit="false">
								<f:validateLength minimum="9" maximum="9" />
							</ice:inputText>
						</ice:panelGrid>

						<ice:panelGrid columns="2" cellspacing="4">
							<!-- Extra Info 1 -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_extra_info_1}"
									styleClass="outputText" />
								<ice:message style="color: red;" id="extraInfo1Error"
									for="subrogationMainPageExtraInfo1" showDetail="true"
									showSummary="false" />
							</ice:panelGrid>

							<ice:inputText id="subrogationMainPageExtraInfo1"
								value="#{subrogationModel.whichSubscriber.extraInfo1}"
								immediate="true" styleClass="inputTextAlign3"
								partialSubmit="false">
								<f:validateLength minimum="1" maximum="255" />
							</ice:inputText>
						</ice:panelGrid>

						<ice:panelGrid columns="2" cellspacing="4">
							<!-- Extra Info 2 -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_extra_info_2}"
									styleClass="outputText" />
								<ice:message style="color: red;" id="extraInfo2Error"
									for="subrogationMainPageExtraInfo2" showDetail="true"
									showSummary="false" />
							</ice:panelGrid>


							<ice:inputText id="subrogationMainPageExtraInfo2"
								value="#{subrogationModel.whichSubscriber.extraInfo2}"
								immediate="true" styleClass="inputTextAlign8"
								partialSubmit="false">
								<f:validateLength minimum="1" maximum="255" />
							</ice:inputText>
						</ice:panelGrid>
						<!--End of Subscriber Information panel  -->

						<!-- Separator -->
						<ice:panelGroup id="firstSeparator" styleClass="separator" />

						<!-- Subscriber search Form -->
						<ice:panelGrid styleClass="resultTable5"
							rendered="#{subrogationModel.subscriberSearchPanelRendered}">

							<ice:panelGroup id="effectSlide"
								effect="#{!subrogationModel.searchButtonVisableSearch? effectsModel.effects[effectsModel.slideDown].effect : 
							         effectsModel.effects[effectsModel.slideUp].effect}"
								style="#{subrogationModel.subscriberSearchPanelStyle}">
								<ice:panelGrid width="100%" style="background-color:#DEE5EB">
									<ice:outputText value="#{msgs.ui_action_search_by}"
										styleClass="outputText2" />

									<ice:panelGrid id="searchFormPanelGrid"
										styleClass="resultTable3" columns="4">

										<!-- First Name -->
										<ice:outputText
											value="#{msgs.ui_label_subrogation_main_page_first_name}"
											styleClass="outputText" />

										<ice:selectInputText id="searchMainPageFirstName"
											value="#{subrogationModel.selectedFirstName}"
											immediate="true" partialSubmit="false"
											rows="#{subrogationModel.selectedFirstNameLength}"
											styleClass="inputText"
											textChangeListener="#{subrogationController.selectFirstNameInputValueChanged}">
											<f:selectItems id="autoCmpFirstNameItms"
												value="#{subrogationModel.listOfFirstNameItems}"
												styleClass="inputText">

											</f:selectItems>
										</ice:selectInputText>

										<!-- Last Name -->
										<ice:outputText
											value="#{msgs.ui_label_subrogation_main_page_last_name}"
											styleClass="outputText" />

										<ice:selectInputText id="searchMainPageLastName"
											value="#{subrogationModel.selectedLastName}" immediate="true"
											partialSubmit="false"
											rows="#{subrogationModel.SELECTED_LAST_NAME_LENGTH}"
											styleClass="inputText"
											valueChangeListener="#{subrogationController.selectLastNameInputValueChanged}">
											<f:selectItems id="autoCmpLastNameItms"
												value="#{subrogationModel.listOfLastNameItems}"
												styleClass="inputText" />
										</ice:selectInputText>

										<!-- Sub ID -->
										<ice:outputText
											value="#{msgs.ui_label_subrogation_main_page_sub_id}"
											styleClass="outputText" />

										<ice:selectInputText id="searchMainPageSubId"
											value="#{subrogationModel.selectedSubID}" immediate="true"
											rows="#{subrogationModel.SELECTED_SUB_ID_LENGTH}"
											styleClass="inputText"
											valueChangeListener="#{subrogationController.selectedSubIDInputValueChanged}">
											<f:selectItems id="autoCmpSubIDItms"
												value="#{subrogationModel.listOfSubIDItems}"
												styleClass="inputText" />
										</ice:selectInputText>

										<!-- Group -->
										<ice:outputText
											value="#{msgs.ui_label_subrogation_main_page_group_id}"
											styleClass="outputText" />

										<ice:selectInputText id="searchMainPageGroupId"
											value="#{subrogationModel.selectedGroupID}" immediate="true"
											rows="#{subrogationModel.selectedGroupIDLength}"
											styleClass="inputText"
											valueChangeListener="#{subrogationController.selectedGroupIDInputValueChanged}">
											<f:selectItems id="autoCmpGrpItms"
												value="#{subrogationModel.listOfGroupIDItems}"
												styleClass="inputText" />
										</ice:selectInputText>

										<!-- From Date -->
										<ice:outputText
											value="#{msgs.ui_label_subrogation_main_page_from_date}"
											styleClass="outputText" />

										<ice:selectInputDate id="searchMainPageFromDate"
											value="#{subrogationModel.searchSummaryFromDate}"
											styleClass="searchPanelNoAutoComplete"
											renderMonthAsDropdown="true" renderYearAsDropdown="true"
											renderWeekNumbers="false" rendered="true"
											renderAsPopup="true" disabled="false" partialSubmit="false"
											immediate="true"
											valueChangeListener="#{subrogationController.summaryFromDateChangeListener}">
											<f:convertDateTime pattern="yyyy/MM/dd"
												timeZone="#{subrogationModel.timeZone}" />
										</ice:selectInputDate>


										<!-- Summary Amount -->
										<ice:outputText
											value="#{msgs.ui_label_subrogation_main_page_summary_amount}"
											styleClass="outputText" />

										<ice:panelGrid id="searchMainPageSummaryAmountContainer"
											columns="2">
											<ice:outputText value="#{msgs.ui_label_english_dollar}">
											</ice:outputText>
											<ice:panelGrid columns="2" width="132">
												<ice:inputText id="searchMainPageSummaryAmount"
													value="#{subrogationModel.searchSummaryAmount}"
													immediate="true" partialSubmit="true"
													styleClass="searchPanelDollarField">
													<f:convertNumber pattern="###,###.###" />

												</ice:inputText>

												<ice:outputText value="#{msgs.ui_label_french_dollar}">
												</ice:outputText>
											</ice:panelGrid>
										</ice:panelGrid>

										<!-- To Date -->
										<ice:outputText
											value="#{msgs.ui_label_subrogation_main_page_to_date}"
											styleClass="outputText" />

										<ice:selectInputDate id="searchMainPageToDate"
											value="#{subrogationModel.searchSummaryToDate}"
											styleClass="searchPanelNoAutoComplete"
											renderMonthAsDropdown="true" renderYearAsDropdown="true"
											renderWeekNumbers="false" rendered="true"
											renderAsPopup="true" disabled="false" partialSubmit="false"
											immediate="true"
											valueChangeListener="#{subrogationController.summaryToDateChangeListener}">
											<f:convertDateTime pattern="yyyy/MM/dd"
												timeZone="#{subrogationModel.timeZone}" />
										</ice:selectInputDate>

									</ice:panelGrid>

									<!-- Search Result Table -->
									<ice:panelGroup id="subscriberSearchResultEffect"
										effect="#{effectsModel.searchResultAppearWrapper.effect}">
										<ice:panelGrid id="subscriberSearchResultsTable"
											styleClass="resultTable5" column="1">
											<ice:dataTable id="subscriberSearchResults"
												var="thisSubscriber" width="100%"
												value="#{subrogationModel.searchedSubscribers}" rows="8"
												columnClasses="tableCol">

												<!-- Column First Name -->
												<ice:column id="firstNameColumn">
													<ice:rowSelector id="subscriberRowSelected"
														value="#{thisSubscriber.selected}"
														selectionListener="#{subrogationController.rowSelectionListener}"
														immediate="true"
														clickedRow="#{subrogationModel.lastClickedRow}"
														toggleOnClick="true" multiple="false" />
													<f:facet name="header">
														<ice:outputText id="subscriberFirstName"
															value="#{msgs.ui_label_subrogation_main_page_first_name}" />
													</f:facet>
													<ice:outputText id="outSubscriberFirstName"
														value="#{thisSubscriber.firstName}" />
												</ice:column>

												<!-- Column Last Name -->
												<ice:column id="lastNameColumn">
													<f:facet name="header">
														<ice:outputText id="subscriberLastName"
															value="#{msgs.ui_label_subrogation_main_page_last_name}" />
													</f:facet>

													<ice:outputText id="outSubscriberLastName"
														value="#{thisSubscriber.lastName}" />
												</ice:column>

												<!-- Column Group ID -->
												<ice:column id="groupIDColumn">
													<f:facet name="header">
														<ice:outputText id="subscriberGroupID"
															value="#{msgs.ui_label_subrogation_main_page_group_id}" />
													</f:facet>
													<ice:outputText id="outSubscriberGroupID"
														value="#{thisSubscriber.groupID}" />
												</ice:column>

												<!-- Column Sub ID -->
												<ice:column id="subIDColumn">
													<f:facet name="header">
														<ice:outputText id="subscriberSubID"
															value="#{msgs.ui_label_subrogation_main_page_sub_id}" />
													</f:facet>

													<ice:outputText id="outSubscriberSubID"
														value="#{thisSubscriber.subID}" />
												</ice:column>
											</ice:dataTable>
										</ice:panelGrid>
										<ice:panelGrid id="subscriberSearchResultsTable2"
											styleClass="resultTable10" column="1">
											<ice:panelGroup id="firstNameColumn">
												<ice:dataPaginator id="scrollOne"
													for="subscriberSearchResults" fastStep="10"
													pageCountVar="pageCount" pageIndexVar="pageIndex"
													paginator="true" paginatorMaxPages="5" immediate="true">

													<f:facet name="first">
														<ice:graphicImage
															url="/Resource/Brand/default/Image/arrow-first.gif"
															style="border:none;" />
													</f:facet>

													<f:facet name="last">
														<ice:graphicImage
															url="/Resource/Brand/default/Image/arrow-last.gif"
															style="border:none;" />
													</f:facet>

													<f:facet name="previous">
														<ice:graphicImage
															url="/Resource/Brand/default/Image/arrow-previous.gif"
															style="border:none;" />
													</f:facet>

													<f:facet name="next">
														<ice:graphicImage
															url="/Resource/Brand/default/Image/arrow-next.gif"
															style="border:none;" />
													</f:facet>

													<f:facet name="fastforward">
														<ice:graphicImage
															url="/Resource/Brand/default/Image/arrow-ff.gif"
															style="border:none;" />
													</f:facet>

													<f:facet name="fastrewind">
														<ice:graphicImage
															url="/Resource/Brand/default/Image/arrow-fr.gif"
															style="border:none;" />
													</f:facet>
												</ice:dataPaginator>

												<ice:dataPaginator id="scrollTwo" styleClass="exampleBox"
													for="subscriberSearchResults" rowsCountVar="rowsCount"
													displayedRowsCountVar="displayedRowsCountVar"
													firstRowIndexVar="firstRowIndex"
													lastRowIndexVar="lastRowIndex" pageCountVar="pageCount"
													pageIndexVar="pageIndex">
													<ice:outputFormat
														value="#{msgs.ui_label_subrogation_main_page_sub_list_total}"
														styleClass="standard">
														<f:param value="#{rowsCount}" />
														<f:param value="#{displayedRowsCountVar}" />
														<f:param value="#{firstRowIndex}" />
														<f:param value="#{lastRowIndex}" />
														<f:param value="#{pageIndex}" />
														<f:param value="#{pageCount}" />
													</ice:outputFormat>
												</ice:dataPaginator>
											</ice:panelGroup>
										</ice:panelGrid>
									</ice:panelGroup>

									<ice:panelGrid columns="4" cellspacing="4"
										visible="#{subrogationModel.subscriberSearchPanelButtonsVisible}">
										
										

										<ice:commandButton styleClass="submitButton"
											value="#{msgs.ui_action_search_go}"
											id="subrogationSearchGoButton" immediate="true"
											onmouseover="javascript:this.className='submitButtonOver';"
											onmouseout="javascript:this.className='submitButton';"
											actionListener="#{subrogationController.executeSearchSubscribers}" />

										<ice:commandButton styleClass="submitButton"
											value="#{msgs.ui_action_clear}"
											id="subrogationSearchResetGoButton" immediate="true"
											onmouseover="javascript:this.className='submitButtonOver';"
											onmouseout="javascript:this.className='submitButton';"
											actionListener="#{subrogationController.executeReset}" />

										<ice:commandButton styleClass="submitButton"
											value="#{msgs.ui_action_hide}"
											id="subscriberSearchPanelHideButton" immediate="true"
											onmouseover="javascript:this.className='submitButtonOver';"
											onmouseout="javascript:this.className='submitButton';"
											actionListener="#{subrogationController.executeHideSubscriberSearchPanel}" />
									</ice:panelGrid>
									<!-- End of Search Result Table -->
								</ice:panelGrid>

								<ice:panelGroup id="secondSeparator" styleClass="separatorTop" />
							</ice:panelGroup>




							<ice:panelGroup id="effectPulsate"
								effect="#{effectsModel.effects[effectsModel.pulsate].effect}">
								<ice:commandButton styleClass="submitButton"
									value="#{msgs.ui_action_search}" id="subroscriberSearchButton"
									immediate="true"
									visible="#{subrogationModel.searchButtonVisableSearch }"
									onmouseover="javascript:this.className='submitButtonOver';"
									onmouseout="javascript:this.className='submitButton';"
									actionListener="#{subrogationController.executeShowSubscriberSearchPanel}" />
							</ice:panelGroup>
							<!-- end of effect pulsate -->
						</ice:panelGrid>

					</ice:panelGrid>

					<!--##############Summary Information panel ######################-->
					<ice:panelGrid columns="2">
						<ice:commandButton id="closeSummaryPanel"
							image="/theme/css-images/tree_nav_bottom_close.gif"
							rendered="#{subrogationModel.closeSummaryButtonRendered }"
							immediate="true"
							actionListener="#{subrogationController.executeCloseSummaryPanel}" />

						<ice:commandButton id="expandSummaryPanel"
							image="/theme/css-images/expend.gif" immediate="true"
							rendered="#{subrogationModel.expandSummaryButtonRendered }"
							actionListener="#{subrogationController.executeExpandSummaryPanel}" />

						<ice:outputText
							value="#{msgs.ui_label_subrogation_main_page_summary_info}"
							styleClass="tableTitleText" />
					</ice:panelGrid>

					<ice:panelGroup id="summaryInfoDown"
						effect="#{subrogationModel.closeSummaryButtonRendered? effectsModel.summaryInfoPanelSlideDownWrapper.effect : 
							          effectsModel.summaryInfoPanelSlideUpWrapper.effect}"
						style="#{subrogationModel.summaryInfoPanelRendered}">
						<ice:panelGrid id="subrogatonSummaryInfoGrid"
							styleClass="resultTable5" columns="4" cellspace="2">
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_summary_date}"
									styleClass="outputText" />
								<ice:panelGroup id="summaryDateErrorPanel"
									effect="#{effectsModel.summaryDateErrorEW.effect}">
									<ice:message id="summaryDateError"
										for="subrogationMainPageSummaryDate" />
								</ice:panelGroup>
							</ice:panelGrid>

							<ice:selectInputDate id="subrogationMainPageSummaryDate"
								value="#{subrogationModel.whichSubscriber.summaryDate}"
								style="left: -17px;" renderMonthAsDropdown="true"
								renderYearAsDropdown="true" renderWeekNumbers="false"
								rendered="true" renderAsPopup="true" disabled="false"
								immediate="true" partialSubmit="false"
								valueChangeListener="#{subrogationController.summaryDateChangeListener}">
								<f:convertDateTime pattern="yyyy/MM/dd"
									timeZone="#{subrogationModel.timeZone}" />
							</ice:selectInputDate>

							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_summary_amount}"
									styleClass="outputText8" />
								<ice:panelGroup id="summaryAmountError"
									effect="#{effectsModel.summaryAmountErrorEW.effect}">
									<ice:message style="position: relative; left: 30px;"
										id="summaryAmountError2"
										for="subrogationMainPageSummaryAmount" />
								</ice:panelGroup>
							</ice:panelGrid>


							<ice:panelGrid id="dollarGrouping1" columns="2" width="140">
								<ice:outputText value="#{msgs.ui_label_english_dollar}"
									styleClass="outputText6">
								</ice:outputText>
								<ice:panelGrid columns="2">
									<ice:inputText id="subrogationMainPageSummaryAmount"
										value="#{subrogationModel.whichSubscriber.summaryAmount}"
										immediate="true" partialSubmit="false"
										styleClass="inputTextAlign">
										<f:convertNumber pattern="###,###.###" />
									</ice:inputText>

									<ice:outputText value="#{msgs.ui_label_french_dollar}"
										styleClass="outputText7">
									</ice:outputText>
								</ice:panelGrid>
							</ice:panelGrid>

							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_date_of_accident}"
									styleClass="outputText">
								</ice:outputText>
								<ice:panelGroup id="adMPG"
									effect="#{effectsModel.accidentDateErrorEW.effect}">
									<ice:message id="adM" for="subrogationMainPageDateOfAccident" />
								</ice:panelGroup>
							</ice:panelGrid>

							<ice:selectInputDate id="subrogationMainPageDateOfAccident"
								value="#{subrogationModel.whichSubscriber.accidentDate}"
								style="left: -17px;" renderMonthAsDropdown="true"
								renderYearAsDropdown="true" renderWeekNumbers="false"
								rendered="true" renderAsPopup="true" immediate="true"
								partialSubmit="false"
								valueChangeListener="#{subrogationController.accidentDateChangeListener}">
								<f:convertDateTime pattern="yyyy/MM/dd"
									timeZone="#{subrogationModel.timeZone}" />
							</ice:selectInputDate>
						</ice:panelGrid>

						<ice:panelGroup id="thirdSeparator" styleClass="separator" />
					</ice:panelGroup>

					<!-- End of Summary Information panel -->

					<!--############################ Recovery Information panel ##########################-->
					<ice:panelGrid columns="2">
						<ice:commandButton id="closeRecoveryInfoPanel"
							image="/theme/css-images/tree_nav_bottom_close.gif"
							immediate="true"
							rendered="#{subrogationModel.closeRecoveryInfoPanelButtonRendered }"
							actionListener="#{subrogationController.executeSlideUpRecoveryInfoPanel}" />

						<ice:commandButton id="expandRecoveryInfoPanel"
							image="/theme/css-images/expend.gif" immediate="true"
							rendered="#{subrogationModel.expandRecoveryInfoPanelButtonRendered }"
							actionListener="#{subrogationController.executeSlideDownRecoveryInfoPanel}" />

						<ice:outputText
							value="#{msgs.ui_label_subrogation_main_page_recovery_info}"
							styleClass="tableTitleText" />
					</ice:panelGrid>

					<ice:panelGroup id="recoverInfoSlide"
						effect="#{subrogationModel.closeRecoveryInfoPanelButtonRendered? effectsModel.recoveryInfoPanelSlideDownWrapper.effect : 
							          effectsModel.recoveryInfoPanelSlideUpWrapper.effect}"
						style="#{subrogationModel.recoveryInfoPanelRendered}">
						<ice:panelGrid id="subrogationRecoverInfoGrid" columns="4"
							styleClass="resultTable5" cellspacing="6">

							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_recovery_date}"
									styleClass="outputText" />
								<ice:panelGroup id="recoveryDateEMPG"
									effect="#{effectsModel.recoveryDateErrorEW.effect}">
									<ice:message id="recoveryDateEM"
										for="subrogationMainPageRecoveryDate" />
								</ice:panelGroup>
							</ice:panelGrid>

							<ice:selectInputDate id="subrogationMainPageRecoveryDate"
								value="#{subrogationModel.whichSubscriber.recoveryDate}"
								styleClass="inputText" renderMonthAsDropdown="true"
								renderYearAsDropdown="true" renderWeekNumbers="false"
								rendered="true" renderAsPopup="true" disabled="false"
								immediate="true" partialSubmit="false"
								valueChangeListener="#{subrogationController.recoveryDateChangeListener}">
								<f:convertDateTime pattern="yyyy/MM/dd"
									timeZone="#{subrogationModel.timeZone}" />
							</ice:selectInputDate>

                            <!-- recovery amount -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_recovery_amount}"
									styleClass="outputText11" />
								<ice:panelGroup id="recoveryAmountEMPG"
									effect="#{effectsModel.recoveryAmountErrorEW.effect}">
									<ice:message id="recoveryAmountEM"
										for="subrogationMainPageRecoveryAmount" />
								</ice:panelGroup>
							</ice:panelGrid>

							<ice:panelGrid id="dollarGrouping4" columns="3" width="140">
								<ice:outputText value="#{msgs.ui_label_english_dollar}"
									styleClass="outputText9" />

								<ice:panelGrid columns="2">
									<ice:inputText id="subrogationMainPageRecoveryAmount"
										value="#{subrogationModel.whichSubscriber.recoveryAmount}"
										immediate="true" partialSubmit="true"
										styleClass="inputTextAlign">
										<f:convertNumber pattern="###,###.###" />
									</ice:inputText>

									<ice:outputText value="#{msgs.ui_label_french_dollar}"
										styleClass="outputText3" />
								</ice:panelGrid>
							</ice:panelGrid>

							<!-- lawyer fee  -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_lawyer_fee}"
									styleClass="outputText" />
								<ice:panelGroup id="lawyerFeeEMPG"
									effect="#{effectsModel.lawyerFeeErrorEW.effect}">
									<ice:message id="lawyerFeeEM"
										for="subrogationMainPageLawyerFee" />
								</ice:panelGroup>
							</ice:panelGrid>
							
							<ice:panelGrid id="dollarGrouping2" columns="2" width="130"
								border="">
								<ice:outputText value="#{msgs.ui_label_english_dollar}"
									styleClass="outputText" />

								<ice:panelGrid columns="2">
									<ice:inputText id="subrogationMainPageLawyerFee"
										value="#{subrogationModel.whichSubscriber.lawyerFee}"
										immediate="true" partialSubmit="true"
										styleClass="inputText100">
										<f:convertNumber pattern="###,###.###" />
									</ice:inputText>

									<ice:outputText value="#{msgs.ui_label_french_dollar}"
										styleClass="outputText3" />
								</ice:panelGrid>
							</ice:panelGrid>
			                <!-- recovery amount -->
							<ice:panelGrid columns="2">
								<ice:outputText
									value="#{msgs.ui_label_subrogation_main_page_net_recovery}"
									styleClass="outputText11" />
								<ice:panelGroup id="netRecoveryEMPG"
									effect="#{effectsModel.netRecoveryErrorEW.effect}">
									<ice:message id="netRecoveryEM"
										for="subrogationMainPageNetRecovery" />
								</ice:panelGroup>
							</ice:panelGrid>

							<ice:panelGrid id="dollarGrouping3" columns="3" width="140">
								<ice:outputText value="#{msgs.ui_label_english_dollar}"
									styleClass="outputText9" />

								<ice:panelGrid columns="2">
									<ice:inputText id="subrogationMainPageNetRecovery"
										value="#{subrogationModel.whichSubscriber.netRecovery}"
										immediate="true" partialSubmit="true"
										styleClass="inputTextAlign">
										<f:convertNumber pattern="###,###.###" />
									</ice:inputText>

									<ice:outputText value="#{msgs.ui_label_french_dollar}"
										styleClass="outputText3" />
								</ice:panelGrid>
							</ice:panelGrid>

           
						</ice:panelGrid>

						<!--#############################Comment panel ##################################-->

						<ice:panelGroup id="commentPanelSlide2"
							effect="#{effectsModel.commentPanelSlideDownWrapper.effect}"
							style="#{subrogationModel.commentPanelRendered}">
							<ice:panelGrid styleClass="resultTable6">
								<ice:inputTextarea id="subrogationSubscriberComments"
									value="#{subrogationModel.whichSubscriber.comment}"
									styleClass="inputText" rows="5" cols="2000" immediate="true" />
							</ice:panelGrid>
						</ice:panelGroup>

						<ice:panelGroup id="fourthSeparator" styleClass="separator" />

						<!-- End of Recovery Information panel -->
					</ice:panelGroup>


					<!--#############################Files Status panel ##################################-->

					<ice:panelGrid columns="2">
						<ice:commandButton id="closeFileStatusPanel"
							image="/theme/css-images/tree_nav_bottom_close.gif"
							immediate="true"
							rendered="#{subrogationModel.closeFileStatusButtonRendered }"
							actionListener="#{subrogationController.executeSlideUpFileStatusInfoPanel}" />

						<ice:commandButton id="expandFileStatusPanel"
							image="/theme/css-images/expend.gif" immediate="true"
							rendered="#{subrogationModel.expandFileStatusButtonRendered }"
							actionListener="#{subrogationController.executeSlideDownFileStatusInfoPanel}" />

						<ice:outputText
							value="#{msgs.ui_label_subrogation_main_page_file_status}"
							styleClass="tableTitleText" />
					</ice:panelGrid>

					<ice:panelGroup id="fileStatusInfoSlide"
						effect="#{subrogationModel.closeFileStatusButtonRendered? effectsModel.fileStatusPanelSlideDownWrapper.effect : 
							          effectsModel.fileStatusPanelSlideUpWrapper.effect}"
						style="#{subrogationModel.fileStatusInfoPanelRendered}">
						<ice:panelGrid styleClass="resultTable5">
							<ice:panelGrid id="subrogatonFileStatusGrid" columns="4"
								width="100%" cellspace="10">
								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_waiver_letter_sent}"
										styleClass="outputText" />

									<ice:panelGroup id="wlsDateEMPG"
										effect="#{effectsModel.wlsDateErrorEW.effect}">
										<ice:message id="wlsDateEM"
											for="subrogationMainPageWaiverLetterSent" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:selectInputDate id="subrogationMainPageWaiverLetterSent"
									value="#{subrogationModel.whichSubscriber.waiverLetterSent}"
									styleClass="inputText" renderMonthAsDropdown="true"
									renderYearAsDropdown="true" renderWeekNumbers="false"
									rendered="true" renderAsPopup="true" disabled="false"
									immediate="true" partialSubmit="false"
									valueChangeListener="#{subrogationController.waiverLetterSentChangeListener}">
									<f:convertDateTime pattern="yyyy/MM/dd"
										timeZone="#{subrogationModel.timeZone}" />
								</ice:selectInputDate>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_waiver_letter_followup}"
										styleClass="outputText" />

									<ice:panelGroup id="wlfDateEMPG"
										effect="#{effectsModel.wlfDateErrorEW.effect}">
										<ice:message id="wlfDateEM"
											for="subrogationMainPageWaiverLetterFollowup" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:panelGrid columns="1">
									<ice:selectInputDate
										id="subrogationMainPageWaiverLetterFollowup"
										value="#{subrogationModel.whichSubscriber.waiverLetterFollowUp}"
										styleClass="inputText" renderMonthAsDropdown="true"
										renderYearAsDropdown="true" renderWeekNumbers="false"
										rendered="true" renderAsPopup="true" disabled="false"
										immediate="true" partialSubmit="false"
										valueChangeListener="#{subrogationController.waiverLetterFollowUpDateChangeListener}">
										<f:convertDateTime pattern="yyyy/MM/dd"
											timeZone="#{subrogationModel.timeZone}" />
									</ice:selectInputDate>
								</ice:panelGrid>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_more_info_letter_sent}"
										styleClass="outputText" />

									<ice:panelGroup id="misDateEMPG"
										effect="#{effectsModel.misDateErrorEW.effect}">
										<ice:message id="misDateEM"
											for="subrogationMainPageMoreInfoLetterSent" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:selectInputDate id="subrogationMainPageMoreInfoLetterSent"
									value="#{subrogationModel.whichSubscriber.moreInfoLetterSent}"
									styleClass="inputText" renderMonthAsDropdown="true"
									renderYearAsDropdown="true" renderWeekNumbers="false"
									rendered="true" renderAsPopup="true" disabled="false"
									immediate="true" partialSubmit="false"
									valueChangeListener="#{subrogationController.moreInfoSentChangeListener}">
									<f:convertDateTime pattern="yyyy/MM/dd"
										timeZone="#{subrogationModel.timeZone}" />
								</ice:selectInputDate>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_more_info_followup}"
										styleClass="outputText" />

									<ice:panelGroup id="mifDateEMPG"
										effect="#{effectsModel.mifDateErrorEW.effect}">
										<ice:message id="mifDateEM"
											for="subrogationMainPageMoreInfoFollowup" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:panelGrid columns="1">
									<ice:selectInputDate id="subrogationMainPageMoreInfoFollowup"
										value="#{subrogationModel.whichSubscriber.moreInfoFollowUp}"
										styleClass="inputText" renderMonthAsDropdown="true"
										renderYearAsDropdown="true" renderWeekNumbers="false"
										rendered="true" renderAsPopup="true" disabled="false"
										immediate="true" partialSubmit="false"
										valueChangeListener="#{subrogationController.moreInfoFollowUpDateChangeListener}">
										<f:convertDateTime pattern="yyyy/MM/dd"
											timeZone="#{subrogationModel.timeZone}" />
									</ice:selectInputDate>
								</ice:panelGrid>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_lawyer_letter_sent}"
										styleClass="outputText" />

									<ice:panelGroup id="llsDateEMPG"
										effect="#{effectsModel.llsDateErrorEW.effect}">
										<ice:message id="llsDateEM"
											for="subrogationMainPageLawyerLetterSent" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:selectInputDate id="subrogationMainPageLawyerLetterSent"
									value="#{subrogationModel.whichSubscriber.lawyerLetterSent}"
									styleClass="inputText" renderMonthAsDropdown="true"
									renderYearAsDropdown="true" renderWeekNumbers="false"
									rendered="true" renderAsPopup="true" disabled="false"
									immediate="true" partialSubmit="false"
									valueChangeListener="#{subrogationController.lawyerLetterSentChangeListener}">
									<f:convertDateTime pattern="yyyy/MM/dd"
										timeZone="#{subrogationModel.timeZone}" />
								</ice:selectInputDate>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_lawyer_letter_followup}"
										styleClass="outputText" />

									<ice:panelGroup id="llfDateEMPG"
										effect="#{effectsModel.llfDateErrorEW.effect}">
										<ice:message id="llfDateEM"
											for="subrogationMainPageLawyerLetterFollowup" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:panelGrid columns="1">
									<ice:selectInputDate
										id="subrogationMainPageLawyerLetterFollowup"
										value="#{subrogationModel.whichSubscriber.lawyerLetterFollowUp}"
										styleClass="inputText" renderMonthAsDropdown="true"
										renderYearAsDropdown="true" renderWeekNumbers="false"
										rendered="true" renderAsPopup="true" disabled="false"
										immediate="true" partialSubmit="false"
										valueChangeListener="#{subrogationController.lawyerLetterFollowUpDateChangeListener}">
										<f:convertDateTime pattern="yyyy/MM/dd"
											timeZone="#{subrogationModel.timeZone}" />
									</ice:selectInputDate>
								</ice:panelGrid>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_insurance_letter_sent}"
										styleClass="outputText" />

									<ice:panelGroup id="ilsDateEMPG"
										effect="#{effectsModel.ilDateErrorEW.effect}">
										<ice:message id="ilsDateEM"
											for="subrogationMainPageInsuranceLetterSent" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:selectInputDate id="subrogationMainPageInsuranceLetterSent"
									value="#{subrogationModel.whichSubscriber.insuranceLetterSent}"
									styleClass="inputText" renderMonthAsDropdown="true"
									renderYearAsDropdown="true" renderWeekNumbers="false"
									rendered="true" renderAsPopup="true" disabled="false"
									immediate="true" partialSubmit="false"
									valueChangeListener="#{subrogationController.insuranceLetterSentDateChangeListener}">
									<f:convertDateTime pattern="yyyy/MM/dd"
										timeZone="#{subrogationModel.timeZone}" />
								</ice:selectInputDate>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_insurance_letter_followup}"
										styleClass="outputText" />

									<ice:panelGroup id="ilfDateEMPG"
										effect="#{effectsModel.ilfDateErrorEW.effect}">
										<ice:message id="ilfDateEM"
											for="subrogationMainPageInsuranceLetterFollowup" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:panelGrid columns="1">
									<ice:selectInputDate
										id="subrogationMainPageInsuranceLetterFollowup"
										value="#{subrogationModel.whichSubscriber.insuranceLetterFollowUp}"
										styleClass="inputText" renderMonthAsDropdown="true"
										renderYearAsDropdown="true" renderWeekNumbers="false"
										rendered="true" renderAsPopup="true" disabled="false"
										immediate="true" partialSubmit="false"
										valueChangeListener="#{subrogationController.insuranceLetterFollowUpDateChangeListener}">
										<f:convertDateTime pattern="yyyy/MM/dd"
											timeZone="#{subrogationModel.timeZone}" />
									</ice:selectInputDate>
									<!-- <ice:selectBooleanCheckbox id="checkInsurance"
												required="false" immediate="true"
												valueChangeListener="#{insertBeanHere.FollowUp}"
												value="#{insertBeanHere.checkBoxFollowUp['checkInsurance']}"
												readonly="true" disabled="false" autocomplete="off" /> -->
								</ice:panelGrid>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_summary_provided_sent}"
										styleClass="outputText" />

									<ice:panelGroup id="spsDateEMPG"
										effect="#{effectsModel.spsDateErrorEW.effect}">
										<ice:message id="spsDateEM"
											for="subrogationMainPageSummaryProvidedSent" />
									</ice:panelGroup>
								</ice:panelGrid>


								<ice:selectInputDate id="subrogationMainPageSummaryProvidedSent"
									value="#{subrogationModel.whichSubscriber.summaryProvidedSent}"
									styleClass="inputText" renderMonthAsDropdown="true"
									renderYearAsDropdown="true" renderWeekNumbers="false"
									rendered="true" renderAsPopup="true" disabled="false"
									immediate="true" partialSubmit="false"
									valueChangeListener="#{subrogationController.summaryProvidedSentDateChangeListener}">
									<f:convertDateTime pattern="yyyy/MM/dd"
										timeZone="#{subrogationModel.timeZone}" />
								</ice:selectInputDate>

								<ice:panelGrid columns="2">
									<ice:outputText
										value="#{msgs.ui_label_subrogation_main_page_summary_provided_followup}"
										styleClass="outputText" />
									<ice:panelGroup id="spfDateEMPG"
										effect="#{effectsModel.spfDateErrorEW.effect}">
										<ice:message id="spfDateEM"
											for="subrogationMainPageSummaryProvidedFollowup" />
									</ice:panelGroup>
								</ice:panelGrid>

								<ice:panelGrid columns="1">
									<ice:selectInputDate
										id="subrogationMainPageSummaryProvidedFollowup"
										value="#{subrogationModel.whichSubscriber.summaryProvidedFollowUp}"
										styleClass="inputText" renderMonthAsDropdown="true"
										renderYearAsDropdown="true" renderWeekNumbers="false"
										rendered="true" renderAsPopup="true" disabled="false"
										immediate="true" partialSubmit="false"
										valueChangeListener="#{subrogationController.summaryProvidedFollowUpDateChangeListener}">
										<f:convertDateTime pattern="yyyy/MM/dd"
											timeZone="#{subrogationModel.timeZone}" />
									</ice:selectInputDate>
									<!-- <ice:selectBooleanCheckbox id="checkSummary" required="false"
												immediate="true"
												valueChangeListener="#{insertBeanHere.FollowUp}"
												value="#{insertBeanHere.checkBoxFollowUp['checkSummary']}"
												readonly="true" disabled="false" autocomplete="off" /> -->
								</ice:panelGrid>
							</ice:panelGrid>
						</ice:panelGrid>
					</ice:panelGroup>

					<!-- End of Files Status panel -->

					<ice:panelGroup id="fourthSeparator2" styleClass="separator" />

					<!--  spacing -->
					<ice:graphicImage value="/theme/css-images/transparent_spacer.gif"
						height="10" width="300" />

					<ice:panelGrid id="functionGrid" columns="6" cellspacing="5">
						<ice:commandButton id="subrogationSaveButton"
							styleClass="submitButton" value="#{msgs.ui_action_save}"
							disabled="#{subrogationModel.saveDisabled}"
							onmouseover="javascript:this.className='submitButtonOver';"
							onmouseout="javascript:this.className='submitButton'"
							partialSubmit="false" immediate="true"
							actionListener="#{subrogationController.executeSaveSubrogation}" />

						<ice:commandButton id="subrogationResetButton"
							styleClass="submitButton" value="#{msgs.ui_action_clear}"
							immediate="true"
							onmouseover="javascript:this.className='submitButtonOver';"
							onmouseout="javascript:this.className='submitButton';"
							actionListener="#{subrogationController.executeReset}" />

						<ice:commandButton id="subrogationCancelButton"
							styleClass="submitButton" value="#{msgs.ui_action_cancel}"
							immediate="true"
							onmouseover="javascript:this.className='submitButtonOver';"
							onmouseout="javascript:this.className='submitButton';"
							actionListener="#{subrogationController.executeReset}"
							action="#{subrogationController.executeGoWelcomePage}" />

						<ice:commandButton id="subrogationDeleteButton"
							panelConfirmation="deleteConfirm" styleClass="submitButton"
							value="#{msgs.ui_action_delete}"
							disabled="#{subrogationModel.deleteDisabled}"
							onmouseover="javascript:this.className='submitButtonOver';"
							onmouseout="javascript:this.className='submitButton'"
							actionListener="#{subrogationController.executeDeleteSubrogation}" />


						<ice:panelConfirmation id="deleteConfirm"
							title="#{msgs.pop_up_window_title}"
							message="#{msgs.pop_up_window_message_delete}"
							acceptLabel="#{msgs.ui_action_yes}"
							cancelLabel="#{msgs.ui_action_no}" autoCentre="true"
							rendered="true" />

					</ice:panelGrid>
				</ice:panelGroup>
			</ice:panelGrid>
		</ice:form>

	</ui:define>

</ui:composition>


