/* Used to remove extra spaces when </form> is used */
/* Used solely for the banner of every page */
form {
	margin: 0px;
}

/* Used solely for the banner of every page */
.banner {
	width: 100%;
}

.bannerLeftGrid {
	border: 0;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 1px;
	margin: 0px;
}

/* Purposly empty so that a style may be applyed to the right most column */
.bannerLeftColumn {
	
}

.bannerRightColumn {
	background-image: url(../Image/bannerBackground.gif);
	background-position: right;
	background-repeat: no-repeat;
	text-align: right;
	float: right;
}

/*
The following is the default settings for the right side of the banner, if you do not want one of the banner items to
appear, simply remove the code below from the class and replace it with  display: none;  as indicated below.

default settings   {	text-align: right;	margin: 0px;	padding:0px;	height: 60px;	line-height: 150%; }
remove banner Item {	display: none; }
*/
.bannerRightGridSeparator {
	visibility: hidden;
}

.bannerRightGridHome {
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	height: 60px;
	line-height: 150%;
	padding: 0px;
}

.bannerRightGridEmail {
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	height: 60px;
	line-height: 150%;
	padding: 0px;
}

.bannerRightGridLogout {
	text-align: top;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	height: 60px;
	line-height: 150%;
	padding: 0px;
}

.bannerRightGridLanguage {
	/* Originally used "float: right" instead of "position: relative" but this
	* caused some problems in Firefox with a:hover and changes in padding
	*/
	position: relative;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	height: 60px;
	line-height: 150%;
	padding: 0px;
}

.separator {
	margin: 15px 0 0 0;
	border-top: 1px dotted #5A7A97;
	padding: 15px 0 0 0;
}

.separatorTop {
	margin: 0 0 15px 0;
	border-top: 1px dotted #5A7A97;
}

table.bannerRightGridLanguageInnerTable {
	text-align: center;
	vertical-align: middle;
	height: 60px;
	line-height: 120%;
}

.bannerRightGridHelp {
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	height: 60px;
	line-height: 150%;
}

.iceCmdLnk {
	font-size: 75%;
	font-weight: bold;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	text-decoration: none;
	text-transform: none;
	color: #5A7A97;
	background-color: transparent;
	padding-left: 0px;
	padding-right: 0px;
	margin: 1px;
}

.iceCmdLnk:hover {
	border-style: solid;
	border-width: 0px;
	color: #5A7A97;
	border-color: #5A7A97;
	background-color: #DEE5EB;
	padding-left: 0px;
	padding-right: 0px;
	border-color: #5A7A97;
}

a.bannerLink {
	font-size: 70%;
	font-weight: bold;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	text-decoration: none;
	text-transform: none;
	color: #5A7A97;
	background-color: transparent;
	padding-left: 10px;
	padding-right: 10px;
	margin: 1px;
}

a.bannerLink:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #D8C078;
	padding-left: 9px;
	padding-right: 9px;
}

/* Used to set up the title of every page */
.pageTitle {
	border-bottom: 1px solid #7895AF;
	border-top: 1px solid #7895AF;
	color: #5A7A97;
	padding: 3px 0;
	text-align: left;
	width: 870px;
}

.pageTitleTxt {
	color: #5A7A97;
	font-size: 125%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
}

/* The following class will be automatically assigned to HTML <body> tag */
/* It removes unwanted extra spaces at the top of the page in IE and Firefox */
body {
	margin: 0px;
	background-color: #FFFFFF;
}

/* Used for buttons within the main content */
input.submitButton {
	text-decoration: none;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #000080;
	margin: 0px 5px 0px 0px;
	background-color: #5A7A97;
	color: #DEE5EB;
}

.submitButtonOK {
	text-decoration: none;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
	text-align: middle;
	padding: 1px 5px 1px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEE5EB;
	background-color: #5A7A97;
	color: #DEE5EB;
	cursor: pointer;
}

input.submitButton-dis {
	text-decoration: none;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #5A7A97;
	margin: 0px 5px 0px 0px;
	background-color: #DDE3EC;
	color: #5A7A97;
	cursor: default;
}

input.submitButtonOver {
	text-decoration: none;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #5A7A97;
	margin: 0px 5px 0px 0px;
	background-color: #DEE5EB;
	color: #5A7A97;
	cursor: pointer;
}

input.submitButton2 {
	text-decoration: none;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-size: 80%;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #000080;
	margin: 0px 10px 0px 0px;
	background-color: #DDE3EC;
	color: #000080;
}

.resultTableRow {
	vertical-align: top;
	background-color: #DEE5EB;
	border-color: #5A7A97;
}

.resultTableAltRow {
	background-color: #EDF1F4;
}

.resultTablePadding {
	padding: 3px 5px 3px 5px;
}

.textNoWrap {
	white-space: nowrap;
}

.textAlignTop {
	vertical-align: top;
}

.textAlignRight {
	text-align: right;
}

.textAlignLeft {
	text-align: left;
}

.textAlignCenter {
	text-align: center;
}

.outputText2 {
	font-weight: bold;
}

.outputText3 {
	position: relative;
	left: -36px;
}

.outputText4 {
	position: relative;
	left: 11px;
}

.outputText5 {
	position: relative;
	left: 25px;
}

.outputText6 {
	position: relative;
	left: 14px;
}

.outputText7 {
	position: relative;
	left: -19px;
}

.outputText8 {
	position: relative;
	left: 19px;
}

.outputText9 {
	position: relative;
	left: -3px;
}

.outputText10 {
	font-size: 120%;
	font-weight: bold;
	color: red;
}

.outputText11 {
	position: relative;
	left: -5px;
}

input.inputText {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputText100 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: -5px;
	border-color: #DEE5EB;
	color: #000000;
	font-size: 12px;
}

.inputTextAlign {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: 30px;
	border-color: #DEE5EB;
	color: #000000;
	font-size: 12px;
}

.inputTextAlign2 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: 40px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputTextAlign3 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	margin-left: 2px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputTextAlign4 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: 19px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputTextAlign5 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: 9px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputTextAlign6 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: 55px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputTextAlign7 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: 65px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputTextAlign8 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	margin-left: 2px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.inputTextAlign9 {
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	border: 1px solid;
	background-color: White;
	width: 120px;
	position: relative;
	left: -7px;
	border-color: #DEE5EB;
	color: #5A7A97;
}

.searchPanelDollarField {
	border: 1px solid #5A7A97;
	background-color: #FFF;
	margin: 10px 0px 0px 2px;
	padding: 2px;
	width: 132px;
}

.searchPanelNoAutoCompleteInput {
	border: 1px solid #5A7A97;
	background-color: #FFF;
	margin: 10px 0px 0px 2px;
	padding: 2px;
	width: 150px;
}

.searchPanelNoAutoCompletePopup {
	padding-left: 0px;
}
/*  --------------------- RESULTS TABLES -------------------------  */
/* Standard default table */
.resultTable {
	width: 875px;
	font-size: 80%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 1px;
	background-color: #F7F5ED;
}

.resultTable3 {
	width: 100%;
	font-size: 100%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 0px;
	background-color: #DEE5EB;
}

.resultTable4 {
	width: 215px;
	font-size: 100%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 0px;
	background-color: #F7F5ED;
}

.resultTable5 {
	width: 100%;
	font-size: 100%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 0px;
	background-color: #F7F5ED;
}

.resultTable6 {
	width: 100%;
	font-size: 100%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 0px;
	padding: 0px 5px 0 0;
	F7F5ED-color: #F7F5ED;
}

.resultTable7 {
	font-size: 90%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 1px;
	background-color: #F7F5ED;
	padding: 10px 10px 10px 10px;
}

.resultTable8 {
	font-size: 100%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	padding: 7px 5px 7px 5px;
}

.resultTable10 {
	width: 100%;
	font-size: 100%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
	border-color: #5A7A97;
	border-style: solid;
	border-width: 0px;
	padding: 10px 0 0 0;
	F7F5ED-color: #F7F5ED;
}

/* Menu styles */
.menuBar {
	padding: 0px;
	margin: 0px;
	background-color: #5A7A97;
}

.commentText {
	font-size: 80%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: #5A7A97;
}

.copyrightText {
	font-size: 80%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	color: silver;
}

.fieldError {
	color: red;
	border-color: red;
}

.subrogationMenuBarEnSubMenu {
	width: 150px;
}

.subrogationMenuBarFrSubMenu {
	width: 250px;
}

/* -------------- DIALOG WINDOW --------------- */
#DWId {
	margin: 0px 10px 10px 0px;
	z-index: 10000;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
}

.DWBox {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #AAAAAA;
	margin: 0px;
	background-color: #F5F5F5;
}

.DWErrorHeader {
	background-color: #BDCDD9;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-size: 80%;
	font-weight: bold;
	margin: 0px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #B5B5B5;
	color: #A52A2A;
	background-image: url(../Image/error_icon.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 0px 5px 0px 20px;
}

.DWWarningHeader {
	background-color: #BDCDD9;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-size: 80%;
	font-weight: bold;
	margin: 0px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #B5B5B5;
	color: #C46200;
	background-image: url(../Image/warning_icon.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 0px 5px 0px 20px;
}

.DWInfoHeader {
	background-color: #BDCDD9;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-size: 80%;
	font-weight: bold;
	margin: 0px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #B5B5B5;
	color: #364A5B;
	background-image: url(../Image/info_icon.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 0px 5px 0px 20px;
}

.DWTextLeft {
	color: #000080;
	background-color: #F5F5F5;
	font-size: 70%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	text-align: left;
}

.DWTextCenter {
	color: #000080;
	background-color: #F5F5F5;
	font-size: 70%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	text-align: center;
}

.DWTextRight {
	color: #000080;
	background-color: #F5F5F5;
	font-size: 70%;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	text-align: right;
}

.DWButtonBar {
	padding-bottom: 5px;
	padding-top: 5px;
	white-space: nowrap;
}

a.DWButton {
	padding-bottom: 4px;
	text-decoration: none;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	font-size: 70%;
	font-weight: bold;
	padding: 1px 15px 1px 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #000080;
	margin: 0px 5px 0px 0px;
	background-color: #DDE3EC;
	color: #000080;
	margin-bottom: 2px;
}

a.DWButton:hover {
	text-decoration: none;
	border-color: #000000;
	background-color: #D8C078;
	color: #000000;
}

.DWTextAlignLeft {
	text-align: left;
}

.DWTextAlignCenter {
	text-align: center;
}

.DWTextAlignRight {
	text-align: right;
}

.DWErrorText {
	color: #A52A2A;
	background-color: #F5F5F5;
}